<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="col-md-6" id="img-bg">

        </div>

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-4">Continue seu cadastro</h1>

                    <div class="form-group mb-4">
                        <label for="cep">CEP : </label>
                        <input class="form-control" type="text" name="cep" id="cep" placeholder="digite seu CEP">


                    </div>

                    <div class="form-group mb-4">
                        <label for="cursos">Cursos: </label>
                        <input class="form-control" type="text" name="cursos" id="cursos" placeholder="seus principais cursos">


                    </div>

                    <div class="form-group mb-4">
                        <label for="endereco">Endereço: </label>
                        <input class="form-control" type="text" name="endereco" id="endereco" placeholder="insira seu endereço atual">


                    </div>

                    <div class="form-group mb-4">
                        <label for="experiencia1">Experiência profissional: </label>
                        <input class="form-control" type="text" name="experiencia1" id="experiencia1" placeholder="insira a empresa e sua função">


                    </div>

                    <div class="form-group mb-4">
                        <label for="experiencia2">Experiência profissional: </label>
                        <input class="form-control" type="text" name="experiencia2" id="experiencia2" placeholder="insira a empresa e sua função">


                    </div>

                    <div class="form-group mb-4">
                        <label for="experiencia3">Experiência profissional: </label>
                        <input class="form-control" type="text" name="experiencia3" id="experiencia3" placeholder="insira a empresa e sua função">


                    </div>

                    <div class="form-group mb-4">
                        <label for="formacaoAcademica">Formação Academica: </label>
                        <input class="form-control" type="text" name="formacaoAcademica" id="formacaoAcademica" placeholder="insira sua(as) formação(ções)">


                    </div>


                    <div class="form-group mb-4">
                        <label for="idiomas">Idiomas: </label>
                        <input class="form-control" type="text" name="idiomas" id="idiomas" placeholder="insira os idiomas que domina e o nivel de fluência">


                    </div>

                    <div class="form-group mb-4">
                        <label for="informacoesAdicionais">Informações adicionais: </label>
                        <input class="form-control" type="text" name="informacoesAdicionais" id="informacoesAdicionais" placeholder="sinta-se a vontade para compartilhar o que quiser">


                    </div>

                    <div class="form-group mb-4">
                        <label for="numeroCasa">Numero da casa: </label>
                        <input class="form-control" type="text" name="numeroCasa" id="numeroCasa" placeholder="insira o numero da residência">


                    </div>

                    <div class="form-group mb-4">
                        <label for="objetivoProfissional">Objetivo profissional: </label>
                        <input class="form-control" type="text" name="objetivoProfissional" id="objetivoProfissional" placeholder="insira o seu objetivo profissional">


                    </div>

                    <div class="form-group mb-4">
                        <label for="rne">Objetivo profissional: </label>
                        <input class="form-control" type="text" name="rne" id="rne" placeholder="insira o seu RNE">


                    </div>

                    <div class="form-group mb-4">
                        <label for="telefone">Telefone: </label>
                        <input class="form-control" type="text" name="telefone" id="telefone" placeholder="insira o seu melhor numero de telefone ou celular">


                    </div>


                    </div>

            <hr class="mt-5 mb-5">

            <p class="text-center">
                Já tem uma conta ? <a> Entre </a>
            </p>

            <p class="text-center">
                Entre em <a> contato</a> conosco!
            </p>

        </div>


    </div>
</div>