<div class="container">
    <div class="row mb-5">
        <div class="col-md-12">
            <h4 class="text-center">
                Entre em contato com a gente
            </h4>
        </div>
    </div>

    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Endereço de email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="nome@exemplo.com">
                </div>

                <div class="form-group mb-2">
                    <label for="exampleFormControlTextarea1">Assunto</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="form-group d-flex justify-content-end">
                    <button class="btn btn-outline-secondary" type="button"
                        class="btn btn-secondary btn-sm">Enviar</button>
                </div>
            </form>
        </div>

        <div class="col-md-6 container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15954.144296454126!2d-48.4820813!3d-1.4526414!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x112dca50f9c7b665!2sNazareth%20Architectural%20Complex!5e0!3m2!1sen!2sbr!4v1626917287815!5m2!1sen!2sbr"
                width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
