<main class="about-page">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="row text-center">


          <h2 class="oleez-page-title wow fadeInUp">Sobre nós</h2>
          <p class="feature-card-content">O Gama foi o projeto proposto e desenvolvido pelo grupo 7 durante
            o Bootcamp Desenvolvedor Java Fullstack Junior da Generation Brasil.
            Foi pensado apartir da ODS 8 da ONU que consiste em promover o crescimento econômico sustentado, inclusivo e
            sustentável, emprego pleno e produtivo, e trabalho decente para todos.
          </p>
          <img src="../../assets/img/folder.jpg" alt="about" class="w-100 wow fadeInUp">
          <section class="oleez-about-features">
            <div class="row d-flex justify-content-center">
              <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                <h4 class="feature-card-title">Abordagem</h4>
                <p class="feature-card-content">Após debates de ideias decidimos que o dentro do que a ODS 8 abrange nós
                  iriamos abordar a problemática dos imigrantes e dos refugiados no Brasil a fim de lutar contra a
                  escrvidão
                  moderna.</p>
              </div>
              <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                <h4 class="feature-card-title">Missão</h4>
                <p class="feature-card-content"> O objetivo do projeto, além de compartilhar informações e denunciar a
                  escravidão moderna, é também divulgar oportunidades e apoio para que eles possam ter liberdade e
                  dignadade.
                </p>
              </div>
              <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                <h4 class="feature-card-title">Ideia</h4>
                <p class="feature-card-content">Sendo assim, criamos uma API no formato de rede social, com uma home
                  bastante
                  informativa e, após o cadastro, uma plataforma para a ligação de pessoas que estão precisando de uma
                  oportunidade com empresas que, além de contratar profissionais totalmente capacitados, queiram ajudar
                  uma
                  causa tão importante. </p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <section class="oleez-what-we-do">
      <div class="row">
        <div class="col-md-12">
          <div class="row text-center">
            <h2 class="section-title wow fadeInUp">Habilidades e competencias</h2>


            <div class="row d-flex justify-content-center mt-5">
              <div class="col-md-4 mb-5 mb-md-0 wow fadeInUp">
                <h5 class="what-we-do-list-title">Back-end</h5>
                <ul class="what-we-do-list">
                  <li>Java para programção e criação de API's REST</li>
                  <li>Structured Query Language (SQL)</li>
                  <li>Spring Boot</li>
                  <li>Eclipse IDE</li>
                  <li>Git e Github</li>
                </ul>
              </div>
              <div class="col-md-4 mb-5 mb-md-0 wow fadeInUp">
                <h5 class="what-we-do-list-title">Front-End</h5>
                <ul class="what-we-do-list">
                  <li>HTML5</li>
                  <li>CSS3</li>
                  <li>JavaScript</li>
                  <li>TypeScript</li>
                  <li>Boostrap</li>
                  <li>Angular</li>
                  <li>VSCode</li>
                </ul>
              </div>
              <div class="col-md-4 mb-5 mb-md-0 wow fadeInUp">
                <h5 class="what-we-do-list-title">Soft Skills</h5>
                <ul class="what-we-do-list">
                  <li>Metodologia Ágil: Scrum</li>
                  <li>Trabalho em equipe</li>
                  <li>Atenção aos detalhes</li>
                  <li>Proatividade</li>
                  <li>Comunicação</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">

        <div class="col-md-10">
          <div class="row">
            <h2 class="section-title wow fadeInUp">Conheça nosso time de desenvolvedores</h2>
          </div>

          <div class="row text-center">
            <p>Gostou do projeto? Conheça mais sobre nós. Acesse nossas redes sociais!</p>
          </div>

        </div>
        <div class="row d-flex justify-content-center">
          <!-- Team Member 1 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../../assets/img/dj.png" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Felipe Januário</h5>
                <div class="card-text text-black-50">Desenvolvedor Fullstack</div>
                <ul class="social-network d-flex">
                  <li>
                    <a href="https://github.com/" target="_blank" class="iconGithub">
                      <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li>
                    <a href="https://www.linkedin.com/" target="_blank" class="iconLinkedin">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <!-- Team Member 2 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../../assets/img/tazo.jpg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Gustavo Simões</h5>
                <div class="card-text text-black-50">Desenvolvedor Fullstack</div>
                <ul class="social-network d-flex">
                  <li>
                    <a href="https://github.com/" target="_blank" class="iconGithub">
                      <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li>
                    <a href="https://www.linkedin.com/" target="_blank" class="iconLinkedin">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <!-- Team Member 3 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../../assets/img/jonathan.jpg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Jonathan Silva</h5>
                <div class="card-text text-black-50">Desenvolvedor Fullstack</div>
                <ul class="social-network d-flex">
                  <li>
                    <a href="https://github.com/" target="_blank" class="iconGithub">
                      <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li>
                    <a href="https://www.linkedin.com/" target="_blank" class="iconLinkedin">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <!-- Team Member 4 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../../assets/img/giovanni2.jpg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Giovanni Cerqueira</h5>
                <div class="card-text text-black-50">Desenvolvedor Fullstack</div>
                <ul class="social-network d-flex">
                  <li>
                    <a href="https://github.com/Giovanni-SVC" target="_blank" class="iconGithub">
                      <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li>
                    <a href="https://www.linkedin.com/in/giovannicerqueira/" target="_blank" class="iconLinkedin">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
