


<main class="about-page">
    <div class="container">
        <h1 class="oleez-page-title wow fadeInUp">Sobre nós</h1>
        <p class="oleez-page-header-content wow fadeInUp">O Gama foi o projeto proposto e desenvolvido pelo grupo 7 durante o BootCamp Pessoa desenvolvedora Fullstack da Generation Brazil.</p> 
        <p class="oleez-page-header-content wow fadeInUp">
            Foi pensado apartir da ODS 8 da ONU que consiste em promover o crescimento econômico sustentado, inclusivo e sustentável, emprego pleno e produtivo, e trabalho decente para todos.
        </p>  
        <img src="../../assets/img/folder.jpg" alt="about" class="w-100 wow fadeInUp">
        <section class="oleez-about-features">
            <div class="row">
                <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                    <h4 class="feature-card-title">Abordagem</h4>
                    <p class="feature-card-content">Após debates de ideias decidimos que o dentro do que a ODS 8 abrange nós iriamos abordar a problemática dos imigrantes e dos refugiados no Brasil a fim de lutar contra a escrvidão moderna.</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                    <h4 class="feature-card-title">Missão</h4>
                    <p class="feature-card-content"> O objetivo do projeto, além de compartilhar informações e denunciar a escravidão moderna, é também divulgar oportunidades e apoio para que eles possam ter liberdade e dignadade. </p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                    <h4 class="feature-card-title">Ideia</h4>
                    <p class="feature-card-content">Sendo assim, criamos uma API no formato de rede social, com uma home bastante informativa e, após o cadastro, uma plataforma para a ligação de pessoas que estão precisando de uma oportunidade com empresas que, além de contratar profissionais totalmente capacitados, queiram ajudar uma causa tão importante.  </p>
                </div>
            </div>
        </section>
        <section class="oleez-what-we-do">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="section-title wow fadeInUp">Habilidades e competencias</h2>
                    <h4 class="section-subtitle wow fadeInUp">Para desenvolver o Projeto Gama nós tivemos que colocar em prática tudo que aprendemos e desenvolvemos durante o bootcamp da Generation Brazil, tanto conhecimentos técnicos quanto comportamentais.</h4>
                    <div class="row">
                        <div class="col-md-4 mb-5 mb-md-0 wow fadeInUp">
                            <h5 class="what-we-do-list-title">Back-end</h5>
                            <ul class="what-we-do-list">
                                <li>Java para programção e criação de API's REST</li>
                                <li>Structured Query Language (SQL)</li>
                                <li>Spring Boot</li>
                                <li>Eclipse IDE</li>
                                <li>Git e Github</li>
                            </ul>
                        </div>
                        <div class="col-md-4 mb-5 mb-md-0 wow fadeInUp">
                            <h5 class="what-we-do-list-title">Front-End</h5>
                            <ul class="what-we-do-list">
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>JavaScript</li>
                                <li>TypeScript</li>
                                <li>Boostrap</li>
                                <li>Angular</li>
                                <li>VSCode</li>
                            </ul>
                        </div>
                        <div class="col-md-4 mb-5 mb-md-0 wow fadeInUp">
                            <h5 class="what-we-do-list-title">Soft Skills</h5>
                            <ul class="what-we-do-list">
                                <li>Metodologia Ágil: Scrum</li>
                                <li>Trabalho em equipe</li>
                                <li>Atenção aos detalhes</li>
                                <li>Proatividade</li>
                                <li>Comunicação</li>          
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="oleez-landing-section oleez-landing-section-team ">
            <div class="container ">
                <div class="oleez-landing-section-content">
                    <div class="oleez-landing-section-verticals wow fadeIn">
                    <img src="../../assets/img/APRESEAtivo 2.png" alt="ollez" height="12px">
                    </div>
                    <div class="row landing-team-content wow fadeInUp">
                        <div class="col-md-6">
                            <h2 class="section-title">Conheça nosso time <br> de desenvolvedores</h2>
                        </div>
                        <div class="col-md-6">
                            <p>Gostou do projeto ? Conheça mais sobre nós, acesse nossas redes sociais!</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-5  landing-team-card wow flipInY">
                            <img src="../../assets/img/dj.png" alt="Team Member" class="team-card-img">
                            <h5 class="team-card-name">Felipe Januário Domingues</h5>
                            <p class="team-card-job">Full Stack Developer</p>
                            <nav class="team-card-social-links">
                                <a href="https://github.com/" target = '_blank'>GitHub</a>
                                <a href="https://www.linkedin.com/" target = '_blank'>LinkedIn</a>
                            </nav>
                        </div>
                        <div class="col-md-6 mb-5  landing-team-card wow flipInY">
                                <img src="../../assets/img/tazo.jpg" alt="Team Member" class="team-card-img">
                                <h5 class="team-card-name">Gustavo Paratazo</h5>
                                <p class="team-card-job">Full Stack Developer</p>
                                <nav class="team-card-social-links">
                                    <a href="https://github.com/" target = '_blank'>GitHub</a>
                                    <a href="https://www.linkedin.com/" target = '_blank'>LinkedIn</a>
                                </nav>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0 landing-team-card wow flipInY">
                            <img src="../../assets/img/jonathan.jpg" alt="Team Member" class="team-card-img">
                            <h5 class="team-card-name">jonathan Silva</h5>
                            <p class="team-card-job">Full Stack Developer</p>
                            <nav class="team-card-social-links">
                                <a href="https://github.com/" target = '_blank'>GitHub</a>
                                <a href="https://www.linkedin.com/" target = '_blank'>LinkedIn</a>
                            </nav>
                        </div>
                        <div class="col-md-6 mb-5 mb-md-0 landing-team-card wow flipInY">
                                <img src="../../assets/img/giovanni.jpg" alt="Team Member" class="team-card-img">
                                <h5 class="team-card-name">Giovanni Cerqueira</h5>
                                <p class="team-card-job">Full Stack Developer</p>
                                <nav class="team-card-social-links">
                                    <a href="https://github.com/" target = '_blank'>GitHub</a>
                                    <a href="https://www.linkedin.com/" target = '_blank'>LinkedIn</a>
                                </nav>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>
</main>
