<div class="container-fluid 100vh 100vw"  >
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-3">
                {{user.foto}}
            </div>
            <div class="col-md-3">
                <p class="card-text mt-3">{{user.nomeCompleto}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{user.endereco}}
                {{user.cep}}
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{user.experiencia1}}
            </div>
            <div class="col-md-6">
                {{user.idiomas}}
            </div>
        </div>
    </div>
</div>

